.search-filter-bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.search-filter-bar input,
.search-filter-bar select {
  padding: 13px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 5px;
}

.search-filter-bar button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-filter-bar button:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .search-filter-bar {
    gap: 10px;
  }

  .search-filter-bar input,
  .search-filter-bar select,
  .search-filter-bar button {
    width: 100%;
    margin-left: 0;
    padding: 10px;
    font-size: 14px;
  }

  .search-filter-bar button {
    padding: 10px;
    font-size: 14px;
  }
}