.home{
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  border-radius: 5px;
  margin: 30px;
}
.search-icons{
  display: flex;
  font-size: 18px;
  margin-top: 3px;

}
.input-div {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.input-div div {
  margin-right: 10px;
  font-size: 18px;
}

.input-div input {
  border: none;
  outline: none;
  padding: 5px 10px;
}

.filter select {
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  font-size: 15px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.header{
  margin-left: 38px;
}
.notes{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

@media (max-width:500px) {
    .search{
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .header{
      text-align: center;
      margin-left: 0px;
    }
    .notes{
       align-items: center;
       justify-content: center;
    }

}