.home{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav {
  background-color: #2d3748; 
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.nav-link {
  color: white;
  font-size: 1.125rem; 
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #a0aec0; 
}

.movie{
  display: flex;
  background-color: black;
  color: white;
  justify-content:center;
  flex-wrap: wrap;
  padding: 3px;
  gap: 10px;
}
.movie-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.movie-item h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.movie-item p {
  font-size: 1em;
  margin-bottom: 10px;
}

.movie-item a {
  color: #0066cc;
  text-decoration: none;
}
.sortby{
  padding: 10px;
  background-color: black;
}
.sortby select {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333;
  border: 1px solid blue;
  outline: none;
  cursor: pointer;
  margin-left: 60px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.sortby select:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.sortby option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}