.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-family: 'Arial', sans-serif;
}

.nav h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.nav span {
  color: #ff5722;
}

.right-corner {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 30px;
}

.add span {
  font-size: 24px;
  margin-right: 5px;
}

.add p {
  margin: 0;
  font-size: 16px;
}

.add:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.auth button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.auth button:hover {
  background-color: #ff7043;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.user-details {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

.user-details.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-details h2 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.user-details p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.user-details button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.user-details button:hover {
  background-color: #ff7043;
}

@media (max-width: 768px) {
  .auth button {
    padding: 5px 5px;
  }

  .user-details {
    display: none;
  }
}