.table-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.table {
  min-width: 150px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.table.available {
  border-color: green;
}

.table.occupied {
  border-color: red;
}

.table .table-details {
  margin-bottom: 10px;
}

.table .table-id {
  font-weight: bold;
  position: absolute;
  bottom: -30px;
  left: 70px;
}

@media (max-width: 768px) {
  .table-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
  }

  .table {
    padding: 8px;
  }
  .table .table-id {
    bottom: -28px;
    left: 100px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .table-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
  }

  .table {
    padding: 5px;
  }

  .table .table-id {
    bottom: -28px;
    left: 150px;
    font-size: 14px;
  }
}